python-telegram-bot==20.3  # نسخه کتابخانه python-telegram-bot برای مدیریت ربات
nest-asyncio==1.5.6         # برای حل مشکل event loop در asyncio
asyncio==3.4.3              # برای استفاده از قابلیت‌های async
